<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106473722423-kbme7h9420j0nv9dpdbp0qbgu7r9clgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106473722423-kbme7h9420j0nv9dpdbp0qbgu7r9clgd</string>
	<key>API_KEY</key>
	<string>AIzaSyCWEQv1KkNsADA8mClk2sO3GkCalf6ivio</string>
	<key>GCM_SENDER_ID</key>
	<string>106473722423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsons.SwiftUIDemo</string>
	<key>PROJECT_ID</key>
	<string>SwiftUIDemo-development</string>
	<key>STORAGE_BUCKET</key>
	<string>SwiftUIDemo-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106473722423:ios:b3cb5b3e7bf1d864</string>
	<key>DATABASE_URL</key>
	<string>https://SwiftUIDemo-development.firebaseio.com</string>
</dict>
</plist>
