<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112446205312-tpf8vpjk2chah2jni4gtskg7rugka95m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112446205312-tpf8vpjk2chah2jni4gtskg7rugka95m</string>
	<key>API_KEY</key>
	<string>AIzaSyCt53zwSV7Hd-p68VLZPNDzYfRKsDe6W_I</string>
	<key>GCM_SENDER_ID</key>
	<string>112446205312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsons.SwiftUIDemo</string>
	<key>PROJECT_ID</key>
	<string>SwiftUIDemo-production</string>
	<key>STORAGE_BUCKET</key>
	<string>SwiftUIDemo-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:112446205312:ios:0ee5a55162d136d21ae565</string>
	<key>DATABASE_URL</key>
	<string>https://SwiftUIDemo-production.firebaseio.com</string>
</dict>
</plist>
